.container-top-bar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}
.top-bar-list{
    display: flex;
    gap: 10px 20px;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}