
main{
  display: flex;
  justify-content: center;
}
.main-store-wrapper{
  margin-top: 40px;
  width: 80%;
  display: grid; 
  grid-template-columns: 250px 02fr; 
  grid-template-rows: 1fr; 
  gap: 0px 60px; 
  grid-template-areas: 
    "Cat  Main "
    "Cat  Main"
    "Cat  Main"; 
  
}
.categorys-container{
  grid-area: Cat;
}
.main-store-container{
    justify-self: center;
    flex: 0.8;
    display: flex;
    gap: 40px 80px;
    flex-wrap: wrap;
    grid-area: Main;

}
.product{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  color: rgb(140, 140, 140);
}
.product-img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.product-price, .product-info{
  line-height: 30px;
  font-weight: 700;
}
.product-price{
  font-size: 1.25rem;
}
.product-price, .product-info:hover{
  color: var(--color-focus-text);
}
.product-with-stock{
  background-color: var(--color-fondo-secundario);
  color: var(--color-texto-claro);
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 190px;
}
.add-cart-button{
  background-color: rgb(255, 255, 255, 0.4);
  color: var(--color-texto-claro);
  border-radius: 6px;
  border: none;
  padding: 4px;
  min-width: 175px;
  min-height: 41.42px;
  opacity: 0;
  transition: 0.6s opacity ease-in-out;
}

.add-cart-button:hover{
  background-color: var(--color-fondo-btn);
}
.product:hover .add-cart-button{
  opacity: 1;
}