@media (0px <= width <= 999px){
  .main-store-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .categorys-container{
    min-width: 100%;
  }
}

@media (730px <= width <= 99999px){

  .main-store-container{
  flex-direction: row;
  flex-wrap: wrap;
  }

  .product{
  width: 20%;
}

}

@media (999px <= width <= 99999px){
  
.category-list{
  width: 100%;
}

}