@import url('./component-style/variables.css');
html, body {
    height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
    margin: 0;
}
*{
    list-style: none;
    margin: 0;
    font-family: 'Titillium Web';
    text-decoration: none;
}
a:link{
    color: #fafafa;;
}
a:visited{
    color: #fafafa;;

}
body{
    background-color: var(--color-fondo);
    color: #fafafa;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    min-height: 100vh; 
    position: relative;
}
.blue-bar{
    background-color: #1765be;
    display: flex;
    justify-content: space-between;
    padding:  10px;
    align-items: center;
}
.menu-logo-container{
    border: 1px solid #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 10px;
    margin: 0;
}
.size-6{
    width: 22px;
    box-sizing: border-box;
}
.main-layout {
    display: flex; /* Convierte el contenedor principal en un flex container */
    flex-direction: column; /* Organiza los elementos hijos en una columna (header, main, footer) */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura del viewport */
}

.main-layout main {
    flex: 1; /* Esto hace que el contenido principal ocupe todo el espacio disponible */
    /* Aquí puedes añadir padding o margin si necesitas espacio alrededor del contenido */
    /* Por ejemplo: padding: 20px; */
}


@keyframes aparecer {
from{
    opacity: 0;
}
to{
    opacity: 1;
}  
}